#background{
	background:#000000 ;
}
#design{
	border: 10px solid black;
}
h3 {
	color:#ffffff ;
	background-color: rgb(255, 0, 0) ;
}
td {
	color: white;
}
#si-bg{
	color:#000000 ;
}
#sin-dg{
	border: 10px solid black;
}